body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
ul {
    list-style-position: inside;
    text-align: left;
   margin: 0 auto 50px auto;
    list-style-type: disc;
    max-width: 550px;
    padding-top: 30px;
    padding-inline-start: 0px;
    padding-inline-end: 40px;
    line-height: 1.5;
    


    
}
li {
    display: list-item;
    margin: 20px 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;

}
h1 {
    margin-top: 60px;
    font-size: 70px;
    margin-bottom: 0;
}

p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 100px;


}
h4 {
    padding-top: 1in;
    margin-bottom: 0;
    font-size: 20px;
    
}
#image  {
    max-width: 100%;
    height: auto;
    align-self: center;

}#img-div {
    display: flex;
    justify-content: center;
    margin-top: ;
}
